:root{
    --theme_color:#FF7171;
    --secondary_color:#FFF6AE;
    --teritiary-color:#FFD1D2;
    --gallery-section-bg:#FFB4EE;
}
/* css Resetting */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style:none;
}
a{
    text-decoration: none;
    color:inherit;
}
html{
    /* eeasier than 16px to keep track of the sizes */
    font-size: 10px; 
}

body{
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}
.section{
    width:100%;
    height:auto;
}
/* a reusable function like as in scss to set font-size */
.font_sizer{
    font-size: var(--font-size);
    font-weight: var(--weight);
}
/* navbar */

nav{
    width:100%;
    height:5rem;
    padding:0rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--theme_color);
    position:relative;
}
.dropdown_list{
    display: flex;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}
.dropdown_list li{
    margin:0rem 3rem;
    position:relative;
    overflow: hidden;
    padding:0rem;
}
.dropdown_list li a::after{
    content:"";
    height:10%;
    width:100%;
    position:absolute;
    bottom:0;
    right:0;
    background-color: black;
    transform:translateX(-100%);
    transition:transform 0.5s ease-out;
}
.dropdown_list li:hover a::after{
    transform:translateX(0);
}
.menu_btn{
    background-color: transparent;
    outline:none;
    border:none;
    cursor: pointer;
}
.menu_btn_icon{
    height:3rem;
    width:3rem;
    background-color: transparent;
}
/* hero|landing section */
.landing_image{
    overflow:hidden;
}
.landing_image img{
    height:100%;
    max-width:100%;
    object-fit: cover;
}
.landing_page_container{
    height:calc(100vh - 5rem);
    width:100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.landing_content{
    width:100%;
    height:100%;
    background-image: linear-gradient(to right, var(--secondary_color), var(--teritiary-color) 87%);
}
.landing_image{
    width:100%;
    height:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:100%; 
}
.landing_content_container{
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:1rem 8rem;
    padding-top:5rem;
}
.landing_content_container div{
    margin:4rem 0rem;
}
.landing_content_paragraph{
    line-height: 2.5rem;
    letter-spacing: 0.5px;
}
.font_spacing{
    letter-spacing: 0.65rem;
}
.landing_button{
    padding:1.3rem 7rem;
    color:white;
    background-color: var(--theme_color);
    outline:none;
    border:2px solid transparent;
    transition:color 0.3s ease-out, border 0.3s ease-out;
    cursor: pointer;
}
.landing_button:hover{
    background-color: transparent;
    border:2px solid var(--theme_color);
    color:var(--theme_color);   
}
/* gallery section */
.gallery_section_wrapper{
    width:100%;
    height:100vh;
}
.gallery_container{
    height:100%;
    width:100%;
}
.gallery_section_wrapper{
    background-color: black;
    padding-top:1rem;
}
.gallery_container{
    background-image: linear-gradient(100deg, var(--secondary_color), var(--gallery-section-bg) 80%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.gallery_info_card_container, .gallery_images_wrapper{
    width:100%;
    height:100%;
}
.gallery_info_card_container{
    display: flex;
    align-items: center;
}
.gallery_images_wrapper{
    display: flex;
    align-items: center;
    justify-content: end;
    padding:0rem 4rem;
}
.gallery_images_wrapper .gallery{
    display: grid;
    grid-template-rows: 20rem auto;
    grid-template-columns: repeat(2,1fr);
    gap:2rem;
    
}
.gallery_images_wrapper img{
    height:20rem;
    width:25rem;
    object-fit: cover;
    transition: transform 0.5s ease-out;
    cursor: pointer;
}
.gallery_images_wrapper img:hover{
    transform: scale(1.05);
}
.gallery_images_wrapper img:not(:hover){
    filter:brightness(90%);
}
.gallery_images_wrapper img:nth-child(2){
    height:41rem;
}
.gallery_info_card_container .info_card{
    background-color: var(--theme_color);
    height:25rem;
    width:50rem;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding:1rem 3rem;
}
.card_button_container{
    display: flex;
    align-items: end;
    justify-content: start;
}
.card_button{
    height:auto;
    width:auto;
    display: flex;
    align-items:start;
    font-size: 1.8rem;
}
.card_button img{
    height:2rem;
    width:2.5rem;
    margin-left:0.8rem;
    animation: point 1s linear infinite;
}
@media screen and (width <= 1100px) {
    html{
        font-size: 8px;
    }
    .dropdown_list li{
        font-size: 2.2rem;
    }
    .gallery_info_card_container .info_card{
        width:46rem;
    }
    .dropdown_menu ul{
        right:15rem;
    }
    .landing_page_container{
        height:auto;
    }
    .landing_content_container{
        align-items: center; 
    }
    .gallery_section_wrapper, .gallery_container{
        height:auto;
    }
    .gallery_container{
        padding:5rem 0rem;
    }     
}
@media screen and (width <= 900px){
    html{
        font-size: 6.5px;
    }
    .font_sizer{
        font-size: calc(var(--font-size) + 3px);
        font-weight: var(--weight);
    }
    .landing_page_container{
        grid-template-columns: repeat(1,1fr);
    }
    .landing_content_container div{
        max-width: 50%;
        margin:4rem 0rem;
        text-align: center;
    }
    .gallery_info_card_container .info_card{
        width:50rem;
    }  
}
@media  screen and (width <= 768px) {
    html{
        font-size: 6px;
    }
    
    nav{
        height:7rem;
        top:0;
        z-index:1000;
        position: fixed;   
    }
    .font_sizer{
        font-size: calc(var(--font-size) + 4px);
        font-weight: var(--weight);
    }
    .dropdown_list li{
        font-size: 3rem;
    }
    .dropdown_list{
        position: fixed;
        flex-direction: column;
        width:100%;
        align-items: end;  
        background-color: var(--theme_color);
        padding:0rem 4rem;
        top:7rem;
        right:0;
        transition:all 0.5s ease-out;
        max-height: 0%;
        overflow: hidden;
    }
    .active{
        max-height:45rem;
    }
    .dropdown_list li{
        margin:2rem 0rem;
    }

    .landing_content_container{
        align-items: start;
    }
    .landing_content_container div{
        max-width: 100%;
        text-align: start;
    }    
    .gallery_container{
        grid-template-columns: repeat(1,1fr);
        place-items: center;
    }
    .gallery_images_wrapper{
        justify-content: center;
    }
    .gallery_info_card_container{
        justify-content: center;
        height:auto;
        padding:4rem 0rem;
    } 
    .gallery_images_wrapper img{
        z-index: 2;
    }
}
@media screen and (width <=370px){
    .gallery_images_wrapper .gallery{
        grid-template-columns: repeat(1,1fr);
    }
}
@keyframes point{
    0%{
        transform:translateX(0);
    }
    50%{
        transform:translateX(10px);
    }
    100%{
        transform:translateX(0);
    }
}
